<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--开启shiro的注解-->
    <bean id="advisorAutoProxyCreator" class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">
        <property name="proxyTargetClass" value="true"></property>
    </bean>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor"/>
    <!--注入自定义的Realm-->
    <bean id="movieRealm" class="com.dream.common.MovieRealm"></bean>
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="movieRealm"></property>
    </bean>

    <!--配置ShiroFilter-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"></property>
        <!--登入页面-->
        <property name="loginUrl" value="/adminLogin"></property>
        <!--登入成功页面-->
        <property name="successUrl" value="/movieManage"/>
        <property name="filters">
            <map>
                <!--退出过滤器-->
                <entry key="logout" value-ref="logoutFilter" />
            </map>
        </property>
        <!--URL的拦截-->
        <property name="filterChainDefinitions" >
            <value>
                <!-- 需要管理员权限 -->
                /admin/* = roles["admin"]
                /user/* = authc
                <!-- 必须要登录才能访问 -->
                /movie/* = authc
                /logout = logout
            </value>
        </property>

    </bean>
    <!--自定义退出LogoutFilter-->
    <bean id="logoutFilter" class="com.dream.service.SystemLogoutFilter">
        <property name="redirectUrl" value="/adminLogin"/>
    </bean>

</beans>